.main-nav {
    position: relative;
    background-image: url("../../../../images/bg.png");
    background-size: cover;
}

.main-nav::after {
    content: '';
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    background-color: #3A4256;
    z-index: -50;
}